



.outermost {
     display: flex;
     flex-direction: column;
     align-items: center;
    
    
    
}

.titles {
    display: flex; 
     justify-content: space-between;
     margin-bottom: 50px;
      

}







.wrap {
  display: flex;
  justify-content: space-between; /* Center the charts horizontally */
  flex-wrap: wrap; /* Allow charts to wrap on smaller devices */
  
  
}


@media only screen and (max-width: 728px) {
  .wrap {
   
    flex-direction: column; /* Stack the charts vertically on smaller devices */
    justify-content: center;
    align-items: center;
    
    
    
  }


}







body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    width: 300px; 
    
    font-size: 18px;
     margin: 0 auto; /* Center the boxes horizontally */
     margin-bottom: 40px;
}





.ql-editor{
    min-height:200px;
    
}

.reflections {
    padding-top: 100px;
    

}

.bot {
 
    margin-left: 10px;
}



