



.outermost {
     display: flex;
     flex-direction: column;
     align-items: center;
    justify-content: space-between;
    font-size: 12px;
    
}

.titles {
    display: flex; 
     justify-content: space-between;
     margin-bottom: 50px;
      

}








.ChartPie {
  max-width: 100%; /* Adjust the width based on your needs */
  width: 400px;
}

.ChartPieChunk {
  width: 100%; /* Adjust the width based on your needs */
  height: 90%; /* Adjust the height based on your needs */
}

.PieLabel {
  /* Styles for the labels */
}




.item1 {
    margin-right: 25px;

}


.wrap {
  display: flex;
  justify-content: space-between; /* Center the charts horizontally */
  flex-wrap: wrap; /* Allow charts to wrap on smaller devices */
  
  
}


@media only screen and (max-width: 728px) {
  .wrap {
    flex-direction: column; /* Stack the charts vertically on smaller devices */
    
  }

  .ChartPie {
  max-width: 100%; /* Adjust the width based on your needs */
  width: 280px;
}
}


@media only screen and (max-width: 428px) { 
  .ChartPie {
    width: 250px;
  }
}







body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    width: 300px; 
    
    font-size: 18px;
     margin: 0 auto; /* Center the boxes horizontally */
     margin-bottom: 40px;
}





.ql-editor{
    min-height:200px;
    
}

.reflections {
    padding-top: 100px;
    

}

.chart2 {
    padding-right: 100px;
}



